<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.swift.miho.daemon</string>
	<key>MachServices</key>
	<dict>
		<key>com.swift.miho.daemon</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>ProxyDaemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>ProxyDaemon</string>
	</array>
	<key>KeepAlive</key>
	<false/>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.swift.miho.daemon.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.swift.miho.daemon.stdout</string>
</dict>
</plist>
